td.red_team{
    background-color: lightcoral;
}

td.blue_team{
    background-color: lightskyblue;
}

td a {
    color:black;
}

td.completed a{
    color:#555;
    font-weight: bolder;
    text-decoration: line-through;
    text-decoration-thickness: 0.15em;
}