{% extends 'season2020/partials/skeleton.html' %}

{% load static %}

{% block body %}
    <div class="card mx-auto mt-3" style="width: 18rem;">
        {% if color == color.RED %}
        <div class="card-header bg-danger text-white text-center">
        {% else %}
        <div class="card-header bg-primary text-white text-center">
        {% endif %}
            Scouting team
            <span class="font-weight-bold search-parameter">teamNumber</span>
            match
            <span class="search-parameter">matchNumber</span>
        </div>

        <div class="card-body">
            <form id="formScouting" method="get" action="{% url 'season2020:submit_view'%}">
                {% csrf_token %}

                <!-- Fields to be filled out by script -->
                <input id="teamNumber" name = "teamNumber" type="hidden" value="">
                <input id="matchNumber" name="matchNumber" type="hidden" value="">

                <h4 class="card-title">Autonomous</h4>

                <div class="form-group">
                    <label for="inputAutoLow">Balls scored in low goal:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="btnAutoLowDec" class="btn btn-danger font-weight-bold disable-touch" type="button" tabindex="-1">-</button>
                        </div>
                        <input id="inputAutoLow" name="autoLow" type="number" min="0" value="0" class="form-control">
                        <div class="input-group-append">
                            <button id="btnAutoLowInc" class="btn btn-success font-weight-bold disable-touch" type="button" tabindex="-1">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAutoHigh">Balls scored in high goal:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="btnAutoHighDec" class="btn btn-danger font-weight-bold disable-touch" type="button" tabindex="-1">-</button>
                        </div>
                        <input id="inputAutoHigh" name="autoHigh" type="number" min="0" value="0" class="form-control">
                        <div class="input-group-append">
                            <button id="btnAutoHighInc" class="btn btn-success font-weight-bold disable-touch" type="button" tabindex="-1">+</button>
                        </div>
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input id="inputAutoIntake" name="autoIntake" type="checkbox" value="yes" class="custom-control-input">
                    <label for="inputAutoIntake" class="custom-control-label">Intake during auto?</label>
                </div>

                <h4 class="mt-5 card-title">Teleoperated</h4>

                <div class="form-group">
                    <label for="inputTeleLow">Balls scored in low goal:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="btnTeleLowDec" class="btn btn-danger font-weight-bold disable-touch" type="button" tabindex="-1">-</button>
                        </div>
                        <input id="inputTeleLow" name="teleLow" type="number" min="0" value="0" class="form-control">
                        <div class="input-group-append">
                            <button id="btnTeleLowInc" class="btn btn-success font-weight-bold disable-touch" type="button" tabindex="-1">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTeleHigh">Balls scored in high goal:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="btnTeleHighDec" class="btn btn-danger font-weight-bold disable-touch" type="button" tabindex="-1">-</button>
                        </div>
                        <input id="inputTeleHigh" name="teleHigh" type="number" min="0" value="0" class="form-control">
                        <div class="input-group-append">
                            <button id="btnTeleHighInc" class="btn btn-success font-weight-bold disable-touch" type="button" tabindex="-1">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="inputDistanceNone" name="distance" class="custom-control-input" value="" checked>
                        <label for="inputDistanceNone" class="custom-control-label">Did not shoot</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="inputDistanceClose" name="distance" class="custom-control-input" value="UC">
                        <label for="inputDistanceClose" class="custom-control-label">Shooting from up close</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="inputDistanceLine" name="distance" class="custom-control-input" value="IL">
                        <label for="inputDistanceLine" class="custom-control-label">Shooting from initiation line</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="inputDistanceNear" name="distance" class="custom-control-input" value="NT">
                        <label for="inputDistanceNear" class="custom-control-label">Shooting from near trench</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="inputDistanceFar" name="distance" class="custom-control-input" value="FT">
                        <label for="inputDistanceFar" class="custom-control-label">Shooting from far trench</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="inputTeleControlPanel" name="teleControlPanel" type="checkbox" value="yes" class="custom-control-input">
                        <label for="inputTeleControlPanel" class="custom-control-label">Did spin control panel?</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="inputTeleClimb" name="teleClimb" type="checkbox" value="yes" class="custom-control-input">
                        <label for="inputTeleClimb" class="custom-control-label">Did climb?</label>
                    </div>
                </div>

                <button type="submit" id="buttonSubmit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script_includes %}
    {{ block.super }}
    {% include "season2020/partials/include_queryparameterscripts.html"%}
    {% include "season2020/partials/include_storagescripts.html"%}
    <script type="text/javascript" src="{% static 'season2020/js/scout.js' %}"></script>
    
{% endblock %}

</html>