<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Scouting {{ match.number }}</title>
</head>

<body>
    <div class="card mx-auto mt-3" style="width: 18rem;">
        {% if color == color.RED %}
        <div class="card-header bg-danger text-white text-center">
        {% else %}
        <div class="card-header bg-primary text-white text-center">
        {% endif %}
            Scouting
            <span class="font-weight-bold"> {{ team.number }} </span>
            {{ team.name }}
        </div>

        <div class="card-body">
            <form>
                {% csrf_token %}

                <h4 class="card-title">Autonomous</h4>

                <div class="form-group">
                    <label for="inputAutoLow">Balls scored in low goal:</label>
                    <input id="inputAutoLow" name="autoLow" type="number" min="0" value="0" class="form-control">
                </div>

                <div class="form-group">
                    <label for="inputAutoHigh">Balls scored in high goal:</label>
                    <input id="inputAutoHigh" name="autoHigh" type="number" min="0" value="0" class="form-control">
                </div>

                <div class="custom-control custom-checkbox">
                    <input id="inputAutoIntake" name="autoIntake" type="checkbox" value="yes" class="custom-control-input">
                    <label for="inputAutoIntake" class="custom-control-label">Intake during auto?</label>
                </div>

                <h4 class="mt-5 card-title">Teleoperated</h4>

                <div class="form-group">
                    <label for="inputTeleLow">Balls scored in low goal:</label>
                    <input id="inputTeleLow" name="teleLow" type="number" min="0" value="0" class="form-control">
                </div>

                <div class="form-group">
                    <label for="inputTeleHigh">Balls scored in high goal:</label>
                    <input id="inputTeleHigh" name="teleHigh" type="number" min="0" value="0" class="form-control">
                </div>

                <div class="custom-control custom-checkbox">
                    <input id="inputTeleControlPanel" name="teleControlPanel" type="checkbox" value="yes" class="custom-control-input">
                    <label for="inputTeleControlPanel" class="custom-control-label">Did spin control panel?</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input id="inputTeleClimb" name="teleClimb" type="checkbox" value="yes" class="custom-control-input">
                    <label for="inputTeleClimb" class="custom-control-label">Did climb?</label>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>