{% extends 'season2020/partials/skeleton.html' %}

{% load static %}

{% block script_includes %}
    {{block.super}}
    <script src="{% static 'season2020/js/query-parameters.js'%}"></script>

    <script src="{% static 'global/js/localforage.js'%}"></script>
    <script src="{% static 'global/js/localforagefind.js'%}"></script>
    <script src="{% static 'season2020/js/storageWrapper.js'%}"></script>

    <script>
        /**
        * Called when the form has successfully been pushed to the server
        */
        function onSuccess(){
            alert("Submitted successfully!");
            window.location.replace("{% url 'season2020:home'%}");
        }

        function onDeferr(message){
            console.log(message);
            alert("Saved to browser, must submit later.");
            window.location.replace("{% url 'season2020:home'%}");
        }

        function onError(message){
            console.log(message);
            alert("Uh Oh! "+message);
            window.location.replace("{% url 'season2020:home'%}");
        }

        //actually push form 

        let form = queryParameters.getAll()
        form.isMatchReport = true;
        console.log(form)

        //push form
        let pushForm = function(formVal){
            throw "pushing not yet implemented";
        }
        //save form locally
        savePromise = store.saveReport(form);
        savePromise.catch(onError);
        pushPromise = savePromise.then(pushForm);
        pushPromise.then(onSuccess);
        pushPromise.catch(onDeferr);

    </script>
{% endblock %}