{% extends 'season2020/partials/skeleton.html' %}

{% load static %}

{% block script_includes %}
    {{block.super}}
    {% include "season2020/partials/include_submissionscripts.html"%}
    {% include "season2020/partials/include_queryparameterscripts.html"%}
    {% include "season2020/partials/include_storagescripts.html"%}

    <script>
        /**
        * Called when the form has successfully been pushed to the server
        */
        function onSuccess(){
            alert("Submitted successfully!");
            window.location.replace("{% url 'season2020:home'%}");
        }

        function onDeferr(message){
            console.log(message);
            alert("Saved to browser, must submit later.");
            window.location.replace("{% url 'season2020:home'%}");
        }

        function onError(message){
            console.log(message);
            alert("Uh Oh! "+message);
            window.location.replace("{% url 'season2020:home'%}");
        }

        let form = queryParameters.getAll();
        // label form as a match report instead of another database item
        form.isMatchReport = true;
        console.log(form)
        // formSubmission loaded from script include
        pushForm = formSubmission.submitForm;

        //save form locally
        savePromise = store.saveReport(form);
        savePromise.catch(onError);
        pushPromise = savePromise.then(pushForm);
        pushPromise.then(onSuccess);
        pushPromise.catch(onDeferr);

    </script>
{% endblock %}