<html>
<head>
<title>
Team 1306 BadgerBOTS Scouting
</title>
<style>
    .button{
        background-color: #d41616;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2vw;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
</head>
<body style = "background-color:black">
<p style = "color:#d41616; font-size:5vw;text-align:center;top-margin:20px;">Team 1306 BadgerBOTS Scouting</p>
<p style="text-align:center">
    <button type="button" class="button">Scouter</button>
    <button type="button" class="button">Scout Admin</button>
    <button type="button" class="button">Data Viewer</button>
</p>
</body>
</html>